<% layout('layouts/boilerplate') -%>
    <h1>New Munch-Mystery</h1>
    <form action="/munches" method="POST">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="place[title]" id="title"/>

        <label for="description">Description</label>
        <input type="text" class="form-control" name="place[description]" id="description"/>

        <label for="location">Location</label>
        <input type="text" class="form-control" name="place[location]" id="location"/>

        <button class="btn btn-primary my-2">Submit</button>
    </form>
