<% layout('layouts/boilerplate') -%>
    <form action="/places" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="container new-container">
            <div class="row d-flex justify-content-center">
                <div class="col-10 col-lg-6 p-5 new-col">
                    <h1 class="new-h1 text-center">New Food Place</h1>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="place[title]" id="title" required/>
                        <div class="valid-feedback">
                            Perfect!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Average Price</label>
                        <input type="number" class="form-control" name="place[averagePrice]" id="price" required/>
                        <div class="valid-feedback">
                            Perfect!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" name="place[description]" id="description" maxlength="60" required></textarea>
                        <div class="valid-feedback">
                            Perfect!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="place[location]" id="location" required/>
                        <div class="valid-feedback">
                            Perfect!
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-file custom-file">
                            <input type="file" class="form-control" id="image" name="image" multiple>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-lg new-btn">Add Food Place</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
