@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    width: 100%;
}

.navbar{
    font-size: large;
    color: #ffffff;
    background-color: #1d293f !important;
}

.navbar-brand{
    font-weight: bold;
}

.nav-link{
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

.nav-link:hover{
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.index-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.index-card{
    color: #ffffff;
    background-color: #2a3b5a;
}

.login-container{
    transform: translateY(20%);
}

.login-col{
    color: #ffffff;
    background-color: #2a3b5a;
    border-radius: 20%;
    font-size: large;
}

.login-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .login-col{
        font-size: small;
        padding: 3% !important;
        border-radius: 5%;
    }
    .login-h1{
        font-size: 1.5rem;
    }
    .login-btn{
        --bs-btn-font-size: 1rem !important;
    }
}

.new-col{
    color: #ffffff;
    background-color: #2a3b5a;
    border-radius: 20%;
    font-size: large;
}

.new-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .new-col{
        font-size: small;
        padding: 3% !important;
        border-radius: 5%;
    }
    .new-h1{
        font-size: 1.5rem;
    }
    .new-btn{
        --bs-btn-font-size: 1rem !important;
    }
}

.valid-feedback{
    color: #ffffff;
}

.show-card{
    color: #ffffff;
    background-color: #2a3b5a;
}

.show-col{
    color: #ffffff;
    background-color: #2a3b5a;
    border-radius: 1%;
}

.show-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.show-label{
    font-size: 1.5rem;
}
